* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C2D5E;
}

.computerWins {
  visibility: hidden;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 100vh;
}
.grid-container .grid-container__item {
  display: grid;
  justify-items: center;
  align-items: center;
  display: grid;
  justify-items: center;
  align-items: center;
}
.grid-container .grid-container__item img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.grid-container .draw {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  font-family: "Play", sans-serif;
  grid-column: 3/4;
  grid-row: 3/4;
}
.grid-container .janken-title {
  grid-column: 2/5;
  font-family: "Play", sans-serif;
  color: #D10000;
  font-size: 2rem;
}
.grid-container .player--name {
  grid-column: 2/5;
  font-family: "Play", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  animation-duration: 10s;
}
.grid-container .cpu--hand {
  margin-bottom: 10px;
  grid-column: 2/5;
  display: grid;
  transform: rotate(180deg);
}
.grid-container .player--hand {
  margin-top: 10px;
  grid-column: 2/5;
}
.grid-container .cpu--name {
  grid-column: 2/5;
  grid-row: 5/6;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
}
.grid-container .select {
  display: flex;
  justify-content: space-between;
  grid-column: 2/5;
}
.grid-container .select .selection {
  cursor: pointer;
}
.grid-container .select .selection img {
  height: 50px;
  width: 50px;
}
.grid-container .select .selection .selection__name {
  font-family: "Play", sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}
.grid-container .cpu-score {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  background-color: #D00000;
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid-container .player-score {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  grid-column: 1/2;
  grid-row: 4/5;
  background-color: #D00000;
}
.grid-container .green {
  border: 4px solid #00FF00;
  box-shadow: 0 0 10px #fff;
  background-color: green;
}

@media screen and (min-width: 600px) {
  .grid-container .grid-container__item img {
    object-fit: cover;
    height: 300px;
    width: 300px;
  }
  .grid-container .player--name {
    grid-column: 1/2;
    grid-row: 1/1;
  }
  .grid-container .cpu--name {
    grid-column: 5/6;
    grid-row: 1/1;
  }
  .grid-container .player-score {
    grid-row: 2/3;
  }
  .grid-container .cpu-score {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  .grid-container .select {
    grid-row: 6/7;
  }
  .grid-container .player--hand {
    grid-row: 4;
    transform: rotate(270deg);
    grid-column: 4/5;
    margin: 0;
  }
  .grid-container .cpu--hand {
    grid-row: 4;
    grid-column: 2/3;
    transform: rotate(90deg) scaleX(-1);
    margin: 0;
  }
  .grid-container .versus {
    grid-column: 3/4;
    grid-row: 4;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    font-family: "Play", sans-serif;
    font-weight: bold;
  }
}