* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C2D5E;
    padding-bottom: 20px 0;

    .cpuWins {
        position: absolute;
        top: 30%;
        right: 50%;
        left: 50%;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: white;
        font-family: 'Play', sans-serif;

    }

    .playAgain {
         position: absolute;
  
        top: 50%;
     
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: white;
        font-family: 'Play', sans-serif;
        cursor: pointer;
        background-color: #D00000;
        padding: 10px;
        width: 100%;


    }

}




.computerWins {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100vh;
    

    .grid-container__item {
        display: grid;
        justify-items: center;
        align-items: center;
        //border: 1px solid white;
        display: grid;
        justify-items: center;
        align-items: center;

        img {
            height:200px;
            width: 200px;
            object-fit: contain;
        }
    }

    .draw {
        display: grid;
        justify-items: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        font-family: 'Play', sans-serif;
        grid-column: 2 / 5;
        white-space: nowrap;
    
    }

    .versus {
        display: none;
    }


    .janken-title {
        grid-column: 2 / 5;
        font-family: 'Play', sans-serif;
        color: #D10000;
        font-size: 2rem;
        animation: pulse 3s infinite;
       


    }

    .player--name {
        grid-column: 2 / 5;
        font-family: 'Play', sans-serif;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        animation-duration: 10s;
    }

    .cpu--hand {
        margin-bottom: 10px;
        grid-column: 2 / 5;
        display: grid;
        transform: rotate(180deg);
    }

    .player--hand {
        margin-top: 10px;
        grid-column: 2 / 5;


    }

    .cpu--name {
        grid-column: 2 / 5;
        grid-row: 5 / 6;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        font-family: 'Play', sans-serif;

    }

    .select {
        display: flex;
        justify-content: space-between;
        grid-column: 2 / 5;

        .selection {
            cursor: pointer;

            img {
                height: 50px;
                width: 50px;
            }

            .selection__name {
                font-family: 'Play', sans-serif;
                font-weight: 700;
                color: white;
                letter-spacing: 1px;
            }

        }
    }


    .cpu-score {
        font-family: 'Play', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: white;
        background-color: #D00000;
        grid-column: 1 / 2;
        grid-row: 3 / 4;

    }

    .player-score {
        font-family: 'Play', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        color: white;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background-color: #D00000;
        box-shadow: 0 0 10px red;
        border: 4px solid red;
       


    }

    .green {
        border: 4px solid #00FF00;
        box-shadow: 0 0 10px #fff;
        background-color: green;
        animation: pulse 2s;
    }

}

@media screen and (min-width: 900px) {

    .grid-container {

        .grid-container__item {

            img {
                object-fit: cover;
                height: 300px;
                width: 300px;
            }
        }

        .draw {
            display: grid;
            justify-items: center;
            align-items: center;
            font-size: 3rem;
            color: white;
            font-weight: 700;
            font-family: 'Play', sans-serif;
            grid-column: 2 / 5;
            grid-row: 3 / 4;
        }

        .player--name {
            grid-column: 1 / 2;
            grid-row: 1 / 1;
        }

        .cpu--name {
            grid-column: 5 / 6;
            grid-row: 1 / 1;
        }

        .player-score {
            grid-row: 2 / 3
        }

        .cpu-score {
            grid-column: 5 / 6;
            grid-row: 2 / 3;

        }



        .select {
            grid-row: 6 / 7;
        }

        .player--hand {
            grid-row: 4;
            transform: rotate(270deg);

            grid-column: 4 / 5;
            margin: 0;
        }

        .cpu--hand {
            grid-row: 4;
            grid-column: 2 / 3;
            transform: rotate(90deg) scaleX(-1);
            ;
            margin: 0;
        }

        .versus {
            display: grid;
            grid-column: 3 / 4;
            grid-row: 4;
            font-size: 4rem;
            color: whitesmoke;
            text-transform: uppercase;
            font-family: 'Play', sans-serif;
            font-weight: 700;
        }
    }
}